*{
    font-family: 'Noto Sans JP', sans-serif;
}
/* PC,タブレットのCSS */
@media screen and (min-width: 481px){
    .phone{
        display: none;
    }
    body{
        margin: 0;
        padding: 0;
        background-color: #f4fedb;
    }
    body.prg a{
        text-decoration: none;
    }
    .top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 5em;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        transition: .3s;
    }
    .top h1{
        font-size: calc(100vw/30);
    }
    .SNS_img a:hover{
        color: #90ee90;
        transition: .5s;
    }
    .SNS_img{
        font-size: calc(100vw/10);
    }
    .SNS_img a{
        color: black;
        transition: .5s;
    }
    .fab fa-twitter::before{
        content: "\f099";
        font-family: 'FontAwesome';
    }
    .fab fa-instagram::before{
        content: "\f16d";
        font-family: 'FontAwesome';
    }
    .fab fa-github{
        content: "\f09b";
        font-family: 'FontAwesome';
    }
    .headermenu ul{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-item{
        margin-left: 2em;
        margin-right: 2em;
        font-size: calc(100vw/50);
        text-decoration: none;
        color: black;
    }
    .top_a{
        text-decoration: none;
        color: #fff;
    }
    /* About_page */
    h1.title{
        border-bottom: 2px solid #000;
        width: calc(100vw/4);
        height: auto;
        text-align: center;
    }
    .about{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 5em;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        transition: .3s;
    }
    .about li{
        display: flex;
        margin-left: 6em;
        list-style: none;
        justify-content: left;
    }
    .about h3{
        font-size: calc(100vw/40);
    }
    img.main_img{
        border-radius: 3em;
        margin: 0.5rem;
        width: calc(100%/3);
        height: auto;
    }
    /* About_page */
    .works{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4em;
        height: 10em;
    }
    .top_prg{
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100%/3);
        height: auto;
        background-color: #9ca38c;
        color: #fff;
        border-radius: 5em;
        margin-right: 3em;
        font-size: calc(100vw/70);
        box-shadow: 0 2px 4px rgba(0,0,0,0.5);
        transition: .3s;
    }
    .top_prg:hover{
        box-shadow: 0 0 2px rgba(0,0,0,0.2);
        font-size: calc(100vw/50);
    }
    .top_out{
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100%/3);
        height: auto;
        background-color: #9ca38c;
        color: #fff;
        border-radius: 5em;
        margin-left: 3em;
        font-size: calc(100vw/70);
        box-shadow: 0 2px 4px rgba(0,0,0,0.5);
        transition: .3s;
        box-shadow: 0 0 2px rgba(0,0,0,0.2);
    }
    .top_out:hover{
        box-shadow: 0 0 2px rgba(0,0,0,0.2);
        font-size: calc(100vw/50);
    }
    .dream{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 5em;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        transition: .3s;
    }
    .dream_list{
        font-size: calc(100vw/60);
    }
    .dream_list li{
        display: flex;
        justify-content: left;
    }
    .session_title{
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .session_title a{
        text-decoration: none;
    }
    .session_title h2{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 3em 0 3em;
        width: calc(100vw/5);
        height: calc(100vw/5);
        background-color: #9ca38c;
        color: #fff;
        border-radius: 30%;
        font-size: calc(100vw/50);
        box-shadow: 0 2px 4px rgba(0,0,0,0.5);
        transition: .3s;
    }
    .portfolio_img a, h3 , p{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .portfolio_img img{
        width: calc(100%/1.2);
        height: auto;
        margin-bottom: 2em;
        border-radius: 5em;
        border: 1px solid rgba(0,0,0,0.3);
    }
    body.prg h3{
        font-size: calc(100vw/40);
    }
    .Izu a, h3{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .Izu img{
        width: calc(100%/1.2);
        height: auto;
        margin-bottom: 2em;
        border-radius: 5em;
        border: 1px solid rgba(0,0,0,0.3);
    }
    .Karapo a, h3{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .Karapo img{
        width: calc(100%/1.2);
        height: auto;
        margin-bottom: 2em;
        border-radius: 5em;
        border: 1px solid rgba(0,0,0,0.3);
    }
    .bot_img{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .python_H img{
        width: calc(100%/1.2);
        height: auto;
        margin-bottom: 2em;
        border-radius: 5em;
        border: 1px solid rgba(0,0,0,0.3);
    }
    .Works{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .Works img{
        width: calc(100%/1.2);
        height: auto;
        margin-bottom: 2em;
        border-radius: 5em;
        border: 1px solid rgba(0,0,0,0.3);
    }
    .scroll-top {
        position: fixed;
        right: 25px;
        bottom: 25px;
        z-index: 100;
        background:rgba(244,254,219,0.3);;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: black;
        line-height: 50px;
        text-align: center;
        transition: .5s;
    }
    .scroll-top:hover{
        border:2px solid black;
        transition: .1s;
        background:#9ca38c;
        cursor: pointer;
        opacity: 0.7;
    }
    .karapo_out{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 2vw;
    }
    .Karapo_img{
        width: 50vw;
        height: auto;
        border-radius: 3vw;
    }
    .Slack{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .Slack_img{
        width: 50vw;
        height: auto;
        border-radius: 3vw;
    }
    .Intern{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .intern_img{
        width: 50vw;
        height: auto;
        border-radius: 3vw;
    }
    footer p{
        margin: 0;
        padding: 0;
        margin-top: 1rem;
    }
    footer a{
        text-decoration: none;
        color: black;
        transition: .5s;
    }
    footer a:hover{
        color: #666;
        transition: .5s;
    }
    footer{
        text-align: center;
        background: #fff;
    }
}
@media screen and (max-width: 480px){
    body{
        margin: 0;
        padding: 0;
        background-color: #f4fedb;
    }
    body.prg a{
        text-decoration: none;
    }
    .headermenu{
        display: none;
    }
    .top{
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 5em;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        transition: .3s;
    }
    .top h1{
        font-size: calc(100vw/20);
    }
    .SNS_img a:hover{
        color: #90ee90;
        transition: .5s;
    }
    .SNS_img{
        font-size: calc(100vw/10);
    }
    .SNS_img a{
        color: black;
        transition: .5s;
    }
    .fab fa-twitter::before{
        content: "\f099";
        font-family: 'FontAwesome';
    }
    .fab fa-instagram::before{
        content: "\f16d";
        font-family: 'FontAwesome';
    }
    .fab fa-github{
        content: "\f09b";
        font-family: 'FontAwesome';
    }
    .headermenu ul{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-item{
        margin-left: 2em;
        margin-right: 2em;
        font-size: calc(100vw/20);
        text-decoration: none;
        color: black;
    }
    .top_a{
        text-decoration: none;
        color: #fff;
    }
    /* About_page */
    h1.title{
        border-bottom: 2px solid #000;
        font-size: 5vw;
        width: 50vw;
        height: auto;
        text-align: center;
    }
    .about{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        border-radius: 5em;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        transition: .3s;
    }
    .about li{
        display: flex;
        list-style: none;
        justify-content: left;
    }
    .about h3{
        font-size: calc(100vw/20);
    }
    img.main_img{
        border-radius: 3em;
        margin: 0.5rem;
        width: calc(100vw/3);
        height: auto;
    }
    /* About_page */
    .works{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 4em;
        height: 10em;
    }
    .top_prg{
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100vw/2);
        height: 30vh;
        background-color: #9ca38c;
        color: #fff;
        border-radius: 5em;
        font-size: calc(100vw/30);
        box-shadow: 0 2px 4px rgba(0,0,0,0.5);
        transition: .3s;
        margin-bottom: 2em;
    }
    .top_out{
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100vw/2);
        height: 30vh;
        background-color: #9ca38c;
        color: #fff;
        border-radius: 5em;
        font-size: calc(100vw/30);
        box-shadow: 0 2px 4px rgba(0,0,0,0.5);
        transition: .3s;
        box-shadow: 0 0 2px rgba(0,0,0,0.2);
    }
    .dream{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 5em;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        transition: .3s;
    }
    .dream_list{
        font-size: calc(100vw/30);
        line-height: 1em;
    }
    .dream_list li{
        display: flex;
        justify-content: left;
    }
    .session_title{
        display: none;
        align-items: center;
        justify-content: center;
    }
    .session_title a{
        text-decoration: none;
    }
    .session_title h2{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 3em 0 3em;
        width: calc(100vw/5);
        height: calc(100vw/5);
        background-color: #9ca38c;
        color: #fff;
        border-radius: 30%;
        font-size: calc(100vw/50);
        box-shadow: 0 2px 4px rgba(0,0,0,0.5);
        transition: .3s;
    }
    .portfolio_img a, h3 , p{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .portfolio_img img{
        width: calc(100%/1.2);
        height: auto;
        margin-bottom: 2em;
        border-radius: 5vw;
        border: 1px solid rgba(0,0,0,0.3);
    }
    body#prg h3{
        font-size: calc(100vw/40);
    }
    .Izu a, h3{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .Izu img{
        width: calc(100%/1.2);
        height: auto;
        margin-bottom: 2em;
        border-radius: 5vw;
        border: 1px solid rgba(0,0,0,0.3);
    }
    .Karapo a, h3{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .Karapo img{
        width: calc(100%/1.2);
        height: auto;
        margin-bottom: 2em;
        border-radius: 5vw;
        border: 1px solid rgba(0,0,0,0.3);
    }
    .bot_img{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .python_H img{
        width: calc(100%/1.2);
        height: auto;
        margin-bottom: 2em;
        border-radius: 5vw;
        border: 1px solid rgba(0,0,0,0.3);
    }
    .Works{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .Works img{
        width: calc(100%/1.2);
        height: auto;
        margin-bottom: 2em;
        border-radius: 5em;
        border: 1px solid rgba(0,0,0,0.3);
    }
    .scroll-top {
        position: fixed;
        right: 25px;
        bottom: 25px;
        z-index: 100;
        background:rgba(244,254,219,0.3);;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: black;
        line-height: 50px;
        text-align: center;
        transition: .5s;
    }
    .scroll-top:hover{
        border:2px solid black;
        transition: .1s;
        background:#9ca38c;
        cursor: pointer;
        opacity: 0.7;
    }
    .karapo_out{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
    .Karapo_img{
        width: 50vw;
        height: auto;
        border-radius: 3vw;
    }
    .Slack{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .Slack_img{
        width: 50vw;
        height: auto;
        border-radius: 3vw;
    }
    .Intern{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .intern_img{
        width: 50vw;
        height: auto;
        border-radius: 3vw;
    }
    footer p{
        margin: 0;
        padding: 0;
        margin-top: 1rem;
    }
    footer a{
        text-decoration: none;
        color: black;
        transition: .5s;
    }
    footer a:hover{
        color: #666;
        transition: .5s;
    }
    footer{
        text-align: center;
        background: #fff;
    }
}
